@import url("./index.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--primary-background-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
    height: 100%;
    width: 100%;
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--lg);
    align-items: center;
    // overflow-x: hidden;

    form {
        height: 100vh;
        width: 50%;
        padding: var(--xl);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--md);
        // background-color: var(--secondary-background-color);

        input,
        button {
            width: 100%;
            padding: var(--lg);
            font-size: var(--text-md);
            border-radius: var(--md);
            border: none;
        }

        button {
            background-color: var(--primary-btn-color);
            color: var(--primary-text-color);
            padding: var(--text-md) var(--2xl);
            font-weight: 700;
            text-transform: uppercase;
            width: fit-content;
        }

        h1 {
            font-size: var(--2xl);
        }
    }

    .cards {
        height: 100%;
        width: 100%;
        background-color: var(--secondary-background-color);
        padding: var(--md);
        text-align: center;

        .card {
            margin-top: var(--md);
            border-radius: var(--md);
            background-color: var(--primary-text-color);
            color: var(--primary-background-color);
            width: 100%;
            padding: var(--md);
            display: flex;
            justify-content: space-between;
            align-items: center;


            p {
                font-size: var(--text-md);
            }

            button {
                padding: var(--md) var(--xl);
                font-size: var(--text-md);
                font-weight: 600;
                border-radius: var(--md);
                border: none;
                background-color: var(--secondary-btn-color);
                color: var(--primary-text-color);
                text-transform: uppercase;
            }
        }
    }
}