:root {

    /* basic sizes uses for fonts, padding and text */
    --xs: 0.25rem;
    --sm: 0.5rem;
    --md: 1rem;
    --small-md: 1.10rem;
    --text-md: 1.25rem;
    --lg: 1.5rem;
    --xl: 2rem;
    --2xl: 4rem;
    --3xl: 6rem;

    /* background colors */
    --primary-background-color: #222;
    --secondary-background-color: #444;

    /* text colors */
    --primary-text-color: #dfdede;

    /* button colors */
    --primary-btn-color: lightseagreen;
    --secondary-btn-color: red;
}