Project Name: Instagram Clone

Requirements:
    - Authentication:
        - Register
            - 1. user ka data save krna
            - 2. token user ko dena
        - Login
        - Logout (token blacklisting)
        - [OTP based registration]
    
    - Post:
        - create
        - can see the feed
        - like post
            - topics need to study
                - collection types
        - save post

    - Users:
        - followers
        - following