* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    font-size: 4rem;
    background-color: #222;
    color: #dadada;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        input {
            padding: 1rem;
            font-size: 1.5rem;
        }

        button {
            font-size: 2rem;
            padding: 1.5rem 2rem;
            text-transform: capitalize;
        }
    }


}